#canvas {
    border: 23x;
    border-style: solid;
    border-color: #343a40;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #343a40;
}

header {

    font-size: 3em;

}

h1 {

    font-size: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    font-family: "Arima Madurai", "Roboto", serif !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #e0d8c3;
}

input {
    font-family: "Arima Madurai", "Roboto", serif !important;
}

.btn {
    font-size: 1.5em;
    background-color: #e65540;
}

.btn:hover {
    font-size: 1.5em;
    cursor: pointer;
}