{%extends 'base.html'%}

{%block head%}

{%endblock%}

{%block body%}

<h1 class="mb-5">Digit Regcognizer</h1>
<form id="myForm" action="{{ url_for('predict')}}" method="POST" enctype="multipart/form-data">
    <div class="mb-5">
        <canvas id="canvas" name="draw" width="400" height="400">
            <script type="text/javascript">
                $(document).ready(function () {
                    drawCanvas();
                });
            </script>
        </canvas>
        <!-- Create hidden input to save the canvas data after drawing-->
        <input type="hidden" id='url' name="url" value="">
        
    </div>
    <!-- Button save canvas info ->  input when onclick-->
    <input class="btn btn-primary" type="submit" id='predict' value="Predict" onclick="return save();">
</form>

{%endblock%}